<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th >멤버 ID</th>
                <th >로그인 ID</th>
                <th >이름</th>
                <th >지역</th>
                <th >회원가입 일시</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${members}">
                <td th:text="${member.memberId}">멤버 ID</td>
                <td th:text="${member.loginId}">로그인 ID</td>
                <td th:text="${member.memberName}">이름</td>
                <td th:text="${member.regionId}">지역</td>
                <td th:text="${#dates.format(member.createDatetime, 'yyyy-MM-dd HH:mm:ss')}">회원가입 일시</td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- 페이징 -->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <!-- 이전 페이지 -->
            <li th:class="${currentPage == 1 ? 'page-member disabled' : 'page-member'}">
                <a class="page-link" th:if="${currentPage != 1}" th:href="@{/members(page=${currentPage - 1})}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <!-- 페이지 번호 -->
            <li th:each="pageNumber : ${#numbers.sequence(1, totalPages)}" th:class="${pageNumber == currentPage ? 'page-member active' : 'page-member'}">
                <a class="page-link" th:href="@{/members(page=${pageNumber})}" th:text="${pageNumber}"></a>
            </li>
            <!-- 다음 페이지 -->
            <li th:class="${currentPage == totalPages ? 'page-member disabled' : 'page-member'}">
                <a class="page-link" th:if="${currentPage != totalPages}" th:href="@{/members(page=${currentPage + 1})}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
    <div class="col">
        <button class="w-100 btn btn-secondary btn-lg"
                onclick="location.href='loginHome.html'"
                th:onclick="|location.href='@{/}'|"
                type="button">홈으로</button>
    </div>
    <br>
    <div th:replace="fragments/footer :: footer"/>
</div>
</body>
</html>
