<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="teamproject.usedmarket.repository.mybatis.ChatMapper">

    <select id="getChatMessagesByRoomId" resultType="ChatMessage">
        SELECT c.*, m.login_id AS sender_login_id
        FROM chat c
        JOIN member m ON c.member_id = m.member_id
        WHERE c.room_id = #{roomId}
        ORDER BY c.timestamp ASC;
    </select>

    <select id="getSellerByItemId" resultType="Member">
        SELECT m.*
        FROM member m
        JOIN item i ON m.member_id = i.seller_member_id
        WHERE i.item_id = #{itemId};
    </select>

    <insert id="createRoom" parameterType="Room" useGeneratedKeys="true" keyProperty="room_id">
        INSERT INTO room (member_id, item_id, room_status)
        VALUES (#{memberId}, #{itemId}, #{roomStatus})
    </insert>

    <insert id="sendMessage" useGeneratedKeys="true" keyProperty="chatId" parameterType="ChatMessage">
        INSERT INTO chat (room_id, message, member_id)
        VALUES (#{roomId}, #{message}, #{memberId})
    </insert>


    <select id="getAllChats" resultType="Chat">
        select * from chat
    </select>


</mapper>