<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="teamproject.usedmarket.repository.mybatis.ItemMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="itemId">
        insert into item (item_type_id, title, price, content, sale_status, views_count, create_datetime, filename, filepath)
        values (#{itemTypeId}, #{title}, #{price}, #{content}, #{saleStatus}, #{viewsCount},
                #{createDatetime, jdbcType=TIMESTAMP}, #{filename}, #{filepath})
    </insert>

    <update id="update">
        update item
        set title=#{updateParam.title},
            content=#{updateParam.content},
            price=#{updateParam.price},
            item_type_id=#{updateParam.itemTypeId},
            sale_status=#{updateParam.saleStatus},
            update_datetime=#{updateParam.updateDatetime, jdbcType=TIMESTAMP}
        where item_id = #{itemId}
    </update>

    <select id="findById" resultType="item">
        select * from item
        where item_id = #{itemId}
    </select>

    <select id="findAll" resultType="item">
        select * from item order by item_id desc
    </select>

    <!--    <select id="findAll" resultType="Item">-->
    <!--        select id, item_name, price, quantity-->
    <!--        from item-->
    <!--        <where>-->
    <!--            <if test="itemName != null and itemName != ''">-->
    <!--                and item_name like concat('%',#{itemName},'%')-->
    <!--            </if>-->
    <!--            <if test="maxPrice != null">-->
    <!--                and price &lt;= #{maxPrice}-->
    <!--            </if>-->
    <!--        </where>-->
    <!--    </select>-->
</mapper>