<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="teamproject.usedmarket.repository.mybatis.ItemMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="itemId">
        insert into item (item_type_id, title, price, content, sale_status, seller_member_id, views_count, create_datetime)
        values (#{itemTypeId}, #{title}, #{price}, #{content}, #{saleStatus}, #{sellerMemberId}, #{viewsCount},
                #{createDatetime, jdbcType=TIMESTAMP})
    </insert>

    <update id="update">
        update item
        set title=#{updateParam.title},
            content=#{updateParam.content},
            price=#{updateParam.price},
            item_type_id=#{updateParam.itemTypeId},
            sale_status=#{updateParam.saleStatus},
            update_datetime=#{updateParam.updateDatetime, jdbcType=TIMESTAMP}
        where item_id = #{itemId}
    </update>

    <update id="incrementViewsCount">
        update item
        set views_count = views_count + 1
        where item_id = #{itemId}
    </update>

    <select id="findById" resultType="item">
        select * from item
        where item_id = #{itemId}
    </select>

<!--    <select id="findMemberNameBySellerMemberId" resultType="java.lang.String">-->
<!--        select m.member_name-->
<!--        from item i join member m on i.seller_member_id = m.member_id-->
<!--        where i.seller_member_id = #{sellerMemberId}-->
<!--        limit 1-->
<!--    </select>-->
<!--  리미트로 숫자 제한하는 쿼리가 너무 구려서 itemId까지 사용하도록 변경  -->

    <select id="findMemberNameBySellerMemberId" resultType="java.lang.String">
        SELECT m.member_name
        FROM item i
        JOIN member m ON i.seller_member_id = m.member_id
        WHERE i.seller_member_id = #{sellerMemberId} AND i.item_id = #{itemId}
    </select>

    <select id="findAll" resultType="item">
        select * from item order by item_id desc
    </select>

    <!--    <select id="findAll" resultType="Item">-->
    <!--        select id, item_name, price, quantity-->
    <!--        from item-->
    <!--        <where>-->
    <!--            <if test="itemName != null and itemName != ''">-->
    <!--                and item_name like concat('%',#{itemName},'%')-->
    <!--            </if>-->
    <!--            <if test="maxPrice != null">-->
    <!--                and price &lt;= #{maxPrice}-->
    <!--            </if>-->
    <!--        </where>-->
    <!--    </select>-->

    <delete id="delete">
        delete from item
        where item_id = #{itemId}
    </delete>
</mapper>