<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="teamproject.usedmarket.repository.mybatis.LikeMapper">
    <insert id="addInterest" useGeneratedKeys="true" keyProperty="itemLikeId">
        insert into item_like (member_id, item_id)
        values (#{memberId}, #{itemId})
    </insert>

    <delete id="removeInterest">
        delete
        from item_like
        where member_id = #{memberId}
        and item_id = #{itemId}
    </delete>

    <!-- 해당 회원이 특정 상품에 대한 관심 여부를 확인하는 쿼리 -->
    <select id="existsByMemberIdAndItemId" resultType="boolean" parameterType="map">
        select count(*) > 0
        from item_like
        where member_id = #{memberId}
        and item_id = #{itemId}
    </select>

    <select id="findLikedItemByMemberId" resultType="item">
        select i.*
        from item_like il
        join item i on il.item_id = i.item_id
        where il.member_id = #{memberId}
        and i.sale_status != 2
    </select>

    <select id="totalLikedItem" resultType="java.lang.Integer">
        select count(*) as totalLikedItem
        from item_like
        where item_id = #{itemId}
    </select>
</mapper>