<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <form id="uploadForm" th:action="@{/items/add}" th:object="${item}" enctype="multipart/form-data" method="post">
        <!-- 위도 경도 히든 필드 -->
        <input type="hidden" th:field="*{latitude}" id="latitude" />
        <input type="hidden" th:field="*{longitude}" id="longitude" />
        <div>
            <label th:for="title">title</label>
            <input type="text" th:field="*{title}"
                   th:errorclass="field-error" class="form-control" placeholder="제목을 입력하세요">
            <div class="field-error" th:errors="*{title}">
                제목 오류
            </div>
        </div>
        <div>
            <label th:for="content">content</label>
            <textarea th:field="*{content}" th:errorclass="field-error" class="form-control" rows="3"
                      placeholder="상세설명을 입력하세요"></textarea>
            <div class="field-error" th:errors="*{content}">
                내용 오류
            </div>
        </div>
        <div>
            <label th:for="price">price</label>
            <input type="text" th:field="*{price}"
                   th:errorclass="field-error" class="form-control" placeholder="가격을 입력하세요">
            <div class="field-error" th:errors="*{price}">
                가격 오류
            </div>
        </div>
        <br>
        <div>
            <label for="itemTypeId">아이템 타입</label>
            <select id="itemTypeId" name="itemTypeId" class="form-control" th:field="*{itemTypeId}" required>
                <option th:each="itemType : ${itemTypes}"
                        th:value="${itemType.getItemTypeId()}"
                        th:text="${itemType.getDescription()}"></option>
            </select>
        </div>
        <div>
            <label for="saleStatus">판매 상태</label>
            <select id="saleStatus" name="saleStatus" class="form-control" th:field="*{saleStatus}" required>
                <option th:each="saleStatus : ${statuses}"
                        th:value="${saleStatus.getSaleStatusId()}"
                        th:text="${saleStatus.getDescription()}"></option>
            </select>
        </div>
        <br>
        <div>
            <p>사진 첨부<input type="file" id="fileInput" multiple="multiple" onchange="previewImages()" name="uploadedFiles"></p>
            <div id="imagePreview"></div>
        </div>

        <p><b>거래 장소를 선택해주세요!</b></p>
        <div id="map" style="width:100%;height:350px;"></div>
        <div id="clickLatlng"></div>

        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ef1254b7c0e4ca0bba75f337f56fe2aa"></script>
        <script th:inline="javascript">
            /*<![CDATA[*/
            var regionId = [[${regionId}]];
            /*]]>*/
        </script>

        <script>
            var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                mapOption = {
                    level: 3 // 지도의 확대 레벨
                };

            mapOption.center = getDefaultMarkerPosition(regionId); // 지도의 중심좌표

            function getDefaultMarkerPosition(regionId) {
                switch (regionId) {
                    case 1: // 서울
                        return new kakao.maps.LatLng(37.5663, 126.9779);
                    case 2: // 인천
                        return new kakao.maps.LatLng(37.457805, 126.702222);
                    case 3: // 세종
                        return new kakao.maps.LatLng(36.5040736, 127.2494855);
                    case 4: // 대전
                        return new kakao.maps.LatLng(36.324273, 127.423561);
                    case 5: // 대구
                        return new kakao.maps.LatLng(35.8714, 128.6014);
                    case 6: // 광주
                        return new kakao.maps.LatLng(35.150781, 126.890084);
                    case 7: // 울산
                        return new kakao.maps.LatLng(35.538256, 129.311359);
                    case 8: // 부산
                        return new kakao.maps.LatLng(35.179470, 129.075044);
                    case 9: // 제주
                        return new kakao.maps.LatLng(33.4994, 126.5312);
                    default:
                        return new kakao.maps.LatLng(36.35041273683429, 127.38483422584034); // 기본 값
                }
            }

            var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

            // 지도에 확대 축소 컨트롤을 생성한다
            var zoomControl = new kakao.maps.ZoomControl();

            // 지도의 우측에 확대 축소 컨트롤을 추가한다
            map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);

            // 지도를 클릭한 위치에 표출할 마커입니다
            var marker = new kakao.maps.Marker({
                // 지도 중심좌표에 마커를 생성합니다
                position: map.getCenter()
            });
            // 지도에 마커를 표시합니다
            marker.setMap(map);

            // 페이지 로딩 시 기본 마커 위치를 아이템 객체에 설정
            var defaultMarkerPosition = marker.getPosition();
            document.getElementById('latitude').value = defaultMarkerPosition.getLat();
            document.getElementById('longitude').value = defaultMarkerPosition.getLng();

            // 지도에 클릭 이벤트를 등록합니다
            // 지도를 클릭하면 마지막 파라미터로 넘어온 함수를 호출합니다
            kakao.maps.event.addListener(map, 'click', function(mouseEvent) {

                // 클릭한 위도, 경도 정보를 가져옵니다
                var latlng = mouseEvent.latLng;

                // 마커 위치를 클릭한 위치로 옮깁니다
                marker.setPosition(latlng);

                // 위도와 경도 값을 갱신
                document.getElementById('latitude').value = latlng.getLat();
                document.getElementById('longitude').value = latlng.getLng();
            });
        </script>
        <hr class="my-4">
        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">
                    상품 등록
                </button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        th:onclick="|location.href='@{/}'|"
                        type="button">취소
                </button>
            </div>
        </div>
    </form>
    <br/>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
<script>
    // 파일 선택 시 호출되는 함수
    function previewImages() {
        var fileInput = document.getElementById('fileInput');
        var imagePreview = document.getElementById('imagePreview');
        imagePreview.innerHTML = ''; // 이미지 미리보기를 갱신하기 전에 기존 내용을 지웁니다.

        // 선택한 파일이 있는지 확인
        if (fileInput.files && fileInput.files.length > 0) {
            for (var i = 0; i < fileInput.files.length; i++) {
                var reader = new FileReader();

                // 파일을 읽었을 때의 동작 정의
                reader.onload = (function (index) {
                    return function (e) {
                        // 이미지를 미리보기로 표시
                        var imgElement = document.createElement('img');
                        imgElement.src = e.target.result;
                        imgElement.alt = 'Preview';
                        imagePreview.appendChild(imgElement);
                    };
                })(i);

                // 파일을 읽어오기
                reader.readAsDataURL(fileInput.files[i]);
            }
        }
    }
</script>

</html>