<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta charset="utf-8">
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>

</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <form th:object="${item}" enctype="multipart/form-data" method="post">
        <!-- id -->
        <input type="hidden" th:field="*{itemId}" />
        <div class="form-group">
            <label th:for="title">제목</label>
            <input type="text" th:field="*{title}" class="form-control"
                   placeholder="제목을 입력하세요" />
        </div>
        <div class="form-group">
            <li>첨부파일<input type="file" multiple="multiple" name="imageFiles"></li>
            <th:block th:each="itemImage : ${itemImages}">

                <div class="col-12" th:field="${itemImage.itemImageId}">
                    <p th:text="${itemImage}"></p>
                    <img class="col-141" th:if="${itemImage.fileName}" th:src="@{|/files/${itemImage.fileName}|}" width="250" height="200"/>
<!--dawdwddddddddddddddddd-->



                </div>

                <button class="deleteBtn" type="button" data-filename="${photo}" onclick="dataSend()">삭제</button>
            </th:block>
        </div>
        <div class="form-group">
            <label th:for="content">상세설명</label>
            <input type="text" th:field="*{content}" class="form-control"
                   placeholder="상세설명을 입력하세요" />
        </div>
        <div class="form-group">
            <label th:for="price">가격</label>
            <input type="number" th:field="*{price}" class="form-control"
                   placeholder="가격을 입력하세요" />
        </div>
        <div>
            <div>아이템 타입</div>
            <select id="itemType" name="itemType" class="form-control" th:field="${item.itemTypeId}">
                <option th:each="type : ${itemTypes}" th:value="${type.itemTypeId}" th:text="${type.description}"
                        th:selected="${type.itemTypeId == selectedItemTypeId}"/>
            </select>
        </div>
        <div>
            <div>판매 상태</div>
            <select id="saleStatus" name="saleStatus" class="form-control" th:field="${item.saleStatus}">
                <option th:each="status : ${statuses}" th:value="${status.saleStatusId}" th:text="${status.description}"
                        th:selected="${status.saleStatusId == selectedSaleStatus}"/>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function () {
        // 삭제 버튼 클릭 이벤트 처리
        $('.deleteBtn').click(function () {
            var filename = $(this).data('fileName');
            deletePhoto(filename);
        });

        // 사진 삭제 함수
        function deletePhoto(filename) {
            $.ajax({
                type: 'DELETE',
                url: '/delete/' + filename,
                success: function (response) {
                    console.log(response);
                    // 사진 삭제 성공 시, 화면에서 해당 사진 삭제
                    $('[data-filename="' + filename + '"]').remove();
                },
                error: function (error) {
                    console.error('Error deleting photo:', error);
                }
            });
        }
    });
    /*]]>*/
</script>

</html>
<!--$.ajax({-->
<!--// 요청방식: get-->
<!--// 요청주소: /ex03-->
<!--type: "get",-->
<!--url: "/ex03",-->
<!--// parameter 전달하기-->
<!--data: {-->
<!--"param1": val1,-->
<!--"param2": "안녕"-->
<!--},-->
<!--// 요청이 성공했을 때 실행되는 부분-->
<!--success: function(res) {-->
<!--console.log("성공", res);-->
<!--},-->
<!--// 요청이 실패했을 때 실행되는 부분-->
<!--error: function() {-->
<!--console.log("실패");-->
<!--}-->
<!--})-->


<!--$(function(){-->
<!--$(".col-141").click(function(){-->
<!--$(this).hide();-->
<!--});-->
<!--})-->


<!--$("p").css("background-color", "blue");-->


<!--$(() => {-->
<!--$(".col-12").click(function(){-->
<!--$(this).hide(),-->
<!--$("p").css("background-color", "blue");-->
<!--});-->
<!--})-->


<!--    /*<![CDATA[*/-->
<!--        function dataSend(){-->

<!--        var member = /*[[${item.itemId}]]*/;-->


<!--                     const sendDTO = {-->
<!--                               bal:member-->
<!--                               };-->
<!--                     $.ajax({-->
<!--                         url: "/send",-->
<!--                         data: sendDTO,-->
<!--                         type: 'POST',-->
<!--                     }).done(function (data){-->
<!--                         $("#${itemImage.itemImageId}").replaceWith(data);-->
<!--                     });-->
<!--                 }-->



<!--    /*]]*/-->


<!--/*<![CDATA[*/-->
<!--var itemImageId = /*[[${ids}]]*/;-->
<!--/*]]>*/-->
<!--function dataSend(){-->
<!--const sendDTO = {-->
<!--bal:itemImageId-->
<!--};-->
<!--$.ajax({-->
<!--url: "/send",-->
<!--data: sendDTO,-->
<!--type: 'POST',-->
<!--}).done(function (data){-->
<!--$("#resultDiv").replaceWith(data);-->
<!--});-->
<!--}-->
