<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}" href="css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>


    <!-- jQuery를 사용하기 위한 CDN 추가 -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var currentMemberId = [[${currentMemberId}]];
        var currentItemId = [[${currentItemId}]];
        var sellerMemberId = [[${item.sellerMemberId}]];
        var isOwnItem = currentMemberId === sellerMemberId;
        var latitude = [[${latitude}]];
        var longitude = [[${longitude}]];
        /*]]>*/
    </script>
    <script>
        // 페이지 로드 시 초기 버튼 상태 설정
        $(document).ready(function () {
            updateInterestButton();
            // 페이지 로딩 시 찜 수 초기화
            updateInterestCount(currentItemId);
            // 추가: 서버에서 받아온 위도와 경도로 마커 생성
            var markerPosition = new kakao.maps.LatLng(latitude, longitude);
            marker.setPosition(markerPosition);
            map.setCenter(markerPosition);
        });

        // Ajax를 사용하여 현재 관심 상품 상태를 가져오고 버튼을 업데이트하는 함수
        function updateInterestButton() {
            var memberId = currentMemberId;
            var itemId = currentItemId;

            $.ajax({
                type: 'GET',
                url: '/items/' + itemId + '/interestStatus',
                success: function (response) {
                    var interestButton = $('#interestButton');
                    if (response === 'exists') {
                        interestButton.text('관심 상품 삭제');
                        interestButton.removeClass('btn-success').addClass('btn-warning');
                    } else {
                        interestButton.text('관심 상품 등록');
                        interestButton.removeClass('btn-warning').addClass('btn-success');
                    }
                },
                error: function () {
                    console.error('서버 오류');
                }
            });
        }

        // Ajax를 사용하여 관심 상품 등록
        function addInterest() {
            var memberId = currentMemberId;
            var itemId = currentItemId;

            $.ajax({
                type: 'POST',
                url: '/items/' + itemId + '/addInterest',
                success: function (response) {
                    if (response === 'success') {
                        console.log('관심 상품 등록 성공');
                        updateInterestButton(); // 버튼 업데이트
                        updateInterestCount(itemId);
                    } else {
                        console.error('관심 상품 등록 실패');
                    }
                },
                error: function () {
                    console.error('서버 오류');
                }
            });
        }

        // Ajax를 사용하여 관심 상품 삭제
        function removeInterest() {
            var memberId = currentMemberId;
            var itemId = currentItemId;

            $.ajax({
                type: 'POST',
                url: '/items/' + itemId + '/removeInterest',
                success: function (response) {
                    if (response === 'success') {
                        console.log('관심 상품 삭제 성공');
                        updateInterestButton(); // 버튼 업데이트
                        updateInterestCount(itemId);
                    } else {
                        console.error('관심 상품 삭제 실패');
                    }
                },
                error: function () {
                    console.error('서버 오류');
                }
            });
        }

        // 찜 수 업데이트를 위한 함수 추가
        function updateInterestCount(itemId) {
            $.ajax({
                type: 'GET',
                url: '/items/' + itemId + '/totalLikedItem',
                success: function (count) {
                    $('#totalLikedItem').text(count || 0);
                },
                error: function () {
                    console.error('서버 오류');
                }
            });
        }

        // 토글 버튼 클릭 시 관심 상품 등록 또는 삭제 동작
        function toggleInterest() {
            var interestButton = $('#interestButton');

            if (isOwnItem) {
                // 판매자가 자신의 상품에 대해 찜 기능을 사용할 수 없도록 막음
                console.log('자신의 상품에는 찜 기능을 사용할 수 없습니다.');
            } else {
                if (interestButton.text() === '관심 상품 등록') {
                    addInterest(); // 관심 상품 등록 기능 호출
                } else {
                    removeInterest(); // 관심 상품 삭제 기능 호출
                }
                // 찜 수 업데이트
                updateInterestCount(currentItemId);
            }
        }
    </script>

</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>상품 상세</h2>
    </div>

    <!-- 추가 -->
    <h2 th:if="${param.status}" th:text="'저장 완료'"></h2>

    <div>
        <label for="itemId">상품 ID</label>
        <input type="text" id="itemId" name="itemId" class="form-control" value="1" th:value="${item.itemId}" disabled>
    </div>
    <div>
        <label for="foundMemberName">판매자</label>
        <input type="text" id="foundMemberName" name="foundMemberName" class="form-control"
               th:value="${foundMemberName}" disabled>
    </div>
    <div>
        <label for="title">제목</label>
        <input type="text" id="title" name="title" class="form-control" value="10000" th:value="${item.title}" disabled>
    </div>
    <div>
        <block th:each="itemImage : ${itemImages}">
            <img th:if="${itemImage.fileName}" th:src="@{|/files/${itemImage.fileName}|}" width="250" height="200"/>
        </block>
        <!--        <img th:if=${image.fileNames}" th:each="image : ${image.fileNames}"  th:src="@{|/files/${image.fileNames}|}" width="400" height="400"/>-->
        <!--        <img th:each="hor : ${hora}" th:src="@{|/files/${hor}|}" width="400" height="400"/>-->
        <!--        <input type="text" id="title" name="title" class="form-control" value="10000" th:value="${item.title}" disabled>-->
    </div>
    <div>
        <label for="content">상세설명</label>
        <input type="text" id="content" name="content" class="form-control" value="상품A" th:value="${item.content}"
               disabled>
    </div>
    <div>
        <label for="price">가격</label>
        <input type="text" id="price" name="price" class="form-control" value="10" th:value="${item.price}" disabled>
    </div>

    <div>
        <div>아이템 타입</div>
        <select id="itemType" name="itemType" class="form-control" th:field="${item.itemTypeId}" disabled>
            <option th:each="type : ${itemTypes}" th:value="${type.itemTypeId}" th:text="${type.description}"
                    th:selected="${type.itemTypeId == selectedItemTypeId}"/>
        </select>
    </div>
    <div>
        <div>판매 상태</div>
        <select id="saleStatus" name="saleStatus" class="form-control" th:field="${item.saleStatus}" disabled>
            <option th:each="status : ${statuses}" th:value="${status.saleStatusId}" th:text="${status.description}"
                    th:selected="${status.saleStatusId == selectedSaleStatus}"/>
        </select>
    </div>


    <span>거래 장소</span>
    <div id="map" style="width:100%;height:350px;"></div>
    <div id="clickLatlng"></div>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ef1254b7c0e4ca0bba75f337f56fe2aa"></script>
    <script>
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
            mapOption = {
                center: new kakao.maps.LatLng(36.35041273683429, 127.38483422584034), // 지도의 중심좌표
                level: 3 // 지도의 확대 레벨
            };

        var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

        // 지도에 확대 축소 컨트롤을 생성한다
        var zoomControl = new kakao.maps.ZoomControl();

        // 지도의 우측에 확대 축소 컨트롤을 추가한다
        map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);

        // 지도를 클릭한 위치에 표출할 마커입니다
        var marker = new kakao.maps.Marker({
            // 지도 중심좌표에 마커를 생성합니다
            position: map.getCenter(),
            draggable: false
        });
        // 지도에 마커를 표시합니다
        marker.setMap(map);
    </script>


    <div>
        <div>조회수: <span th:text="${item.viewsCount}"></span></div>
    </div>
    <div>
        <div>찜수: <span id="totalLikedItem" th:text="${totalLikedItem} ? ${totalLikedItem} : 0"></span></div>
    </div>
    <!--  수정 이력이 있는 경우에만 수정일 출력  -->
    <div th:if="${item.updateDatetime != null}">
        <div>최종 수정 일자: <span th:text="${#dates.format(item.updateDatetime, 'yyyy-MM-dd HH:mm:ss')}"></span></div>
    </div>
    <div class="row">
        <div class="col">
        <!-- '관심 상품 등록/삭제' 버튼 -->
        <button id="interestButton" class="w-100 btn"
                th:class="${isLiked} ? 'btn-warning btn-lg' : 'btn-success btn-lg'"
                th:onclick="|toggleInterest('@{/items/addInterest}', '@{/items/removeInterest}')|">
            <span th:text="${isLiked} ? '관심 상품 삭제' : '관심 상품 등록'"></span>
        </button>
        </div>
        <div class="col">
            <button class="open-chat-btn" th:attr="data-item-id=${item.itemId}">대화하기</button>
        </div>
    </div>


    <hr class="my-4">

    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="location.href='editForm.html'"
                    th:onclick="|location.href='@{/items/{itemId}/edit(itemId=${item.itemId})}'|"
                    type="button">상품 수정
            </button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='items.html'"
                    th:onclick="|location.href='@{/items}'|"
                    type="button">목록으로
            </button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-danger btn-lg"
                    onclick="location.href='items.html'"
                    th:onclick="|location.href='@{/items/{itemId}/delete(itemId=${item.itemId})}'|"
                    type="button">삭제
            </button>
        </div>
    </div>

</div> <!-- /container -->
</body>
<!-- WebJars jQuery -->
<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
<script src="/webjars/sockjs-client/1.1.2/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/2.3.3-1/stomp.min.js"></script>

<script th:inline="javascript">
    // 대화하기 버튼 클릭 시 이벤트 처리
    document.querySelectorAll('.open-chat-btn').forEach(button => {
        button.addEventListener('click', function() {
            // 대화창 열기 함수 호출
            openChatPopup(this.getAttribute('data-item-id'));
        });
    });

    // 대화창 열기 함수
    function openChatPopup(itemId) {
        // 아이템 고유 아이디를 가지고 대화창을 열기 위한 URL 생성
        var chatPopupUrl = "/chat/chatPopup.html?itemId=" + itemId;

        // 새 창 열기
        window.open(chatPopupUrl, "Chat Popup", "width=600, height=400");
    }
</script>
</html>
