<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div th:if="${not #strings.isEmpty(error)}" class="alert alert-danger" role="alert">
        <p th:text="${error}"></p>
    </div>
    <div th:if="${#lists.isEmpty(items)}">
        <p><b>등록된 상품이 없습니다.</b></p>
    </div>
    <div th:if="${not #lists.isEmpty(items)}">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>제목</th>
                <th>등록 일자</th>
                <th>이미지 보기</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="item : ${items}">
                <td>
                    <a th:href="@{/items/{itemId}(itemId=${item.itemId})}" th:text="${item.itemId}"></a>
                </td>
                <td>
                    <a th:href="@{/items/{itemId}(itemId=${item.itemId})}" th:text="${item.title}"></a>
                </td>
                <td th:text="${#dates.format(item.createDatetime, 'yyyy-MM-dd HH:mm:ss')}">등록 일자</td>
                <td>
                    <block th:each="image : ${images}">
                        <img th:if="${item.itemId == image.itemId} and ${image.repImageCheck == true}" th:src="@{|/files/${image.fileName}|}" width="200" height="200"/>
                    </block>
                </td>
            </tr>
            </tbody>
        </table>

        <!-- 페이징 -->
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <!-- 이전 페이지 -->
                <li th:class="${currentPage == 1 ? 'page-item disabled' : 'page-item'}">
                    <a class="page-link" th:if="${currentPage != 1}" th:href="@{/items(page=${currentPage - 1})}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                <!-- 페이지 번호 -->
                <li th:each="pageNumber : ${#numbers.sequence(1, totalPages)}" th:class="${pageNumber == currentPage ? 'page-item active' : 'page-item'}">
                    <a class="page-link" th:href="@{/items(page=${pageNumber})}" th:text="${pageNumber}"></a>
                </li>

                <!-- 다음 페이지 -->
                <li th:class="${currentPage == totalPages ? 'page-item disabled' : 'page-item'}">
                    <a class="page-link" th:if="${currentPage != totalPages}" th:href="@{/items(page=${currentPage + 1})}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <!-- 홈으로 가는 버튼 -->
    <div class="col">
        <button class="w-100 btn btn-secondary btn-lg"
                onclick="location.href='loginHome.html'"
                th:onclick="|location.href='@{/}'|"
                type="button">홈으로
        </button>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>
