<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>상품명</th>
                <th>가격</th>
                <th>판매자</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${items}">
                <td th:text="${item.itemId}"></td>
                <td th:text="${item.itemName}"></td>
                <td th:text="${item.price}"></td>
                <td th:text="${item.seller}"></td>
                <td>
                    <a href="#" th:href="@{/items/{id}/edit (id=${item.itemId})}"
                       class="btn btn-primary" role="button">수정</a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="col">
            <button class="w-50 btn btn-secondary btn-lg"
                    onclick="location.href='loginHome.html'"
                    th:onclick="|location.href='@{/login}'|"
                    type="button">목록으로</button>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>