<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}" href="css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>


    <!-- jQuery를 사용하기 위한 CDN 추가 -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var currentMemberId = [[${currentMemberId}]];
        var currentItemId = [[${currentItemId}]];
        var sellerMemberId = [[${item.sellerMemberId}]];
        var isOwnItem = currentMemberId === sellerMemberId;
        /*]]>*/
    </script>
    <script>
        // 페이지 로드 시 초기 버튼 상태 설정
        $(document).ready(function () {
            updateInterestButton();
            // 페이지 로딩 시 찜 수 초기화
            updateInterestCount(currentItemId);
        });

        // Ajax를 사용하여 현재 관심 상품 상태를 가져오고 버튼을 업데이트하는 함수
        function updateInterestButton() {
            var memberId = currentMemberId;
            var itemId = currentItemId;

            $.ajax({
                type: 'GET',
                url: '/items/' + itemId + '/interestStatus',
                success: function (response) {
                    var interestButton = $('#interestButton');
                    if (response === 'exists') {
                        interestButton.text('관심 상품 삭제');
                        interestButton.removeClass('btn-success').addClass('btn-warning');
                    } else {
                        interestButton.text('관심 상품 등록');
                        interestButton.removeClass('btn-warning').addClass('btn-success');
                    }
                },
                error: function () {
                    console.error('서버 오류');
                }
            });
        }

        // Ajax를 사용하여 관심 상품 등록
        function addInterest() {
            var memberId = currentMemberId;
            var itemId = currentItemId;

            $.ajax({
                type: 'POST',
                url: '/items/' + itemId + '/addInterest',
                success: function (response) {
                    if (response === 'success') {
                        console.log('관심 상품 등록 성공');
                        updateInterestButton(); // 버튼 업데이트
                        updateInterestCount(itemId);
                    } else {
                        console.error('관심 상품 등록 실패');
                    }
                },
                error: function () {
                    console.error('서버 오류');
                }
            });
        }

        // Ajax를 사용하여 관심 상품 삭제
        function removeInterest() {
            var memberId = currentMemberId;
            var itemId = currentItemId;

            $.ajax({
                type: 'POST',
                url: '/items/' + itemId + '/removeInterest',
                success: function (response) {
                    if (response === 'success') {
                        console.log('관심 상품 삭제 성공');
                        updateInterestButton(); // 버튼 업데이트
                        updateInterestCount(itemId);
                    } else {
                        console.error('관심 상품 삭제 실패');
                    }
                },
                error: function () {
                    console.error('서버 오류');
                }
            });
        }

        // 찜 수 업데이트를 위한 함수 추가
        function updateInterestCount(itemId) {
            $.ajax({
                type: 'GET',
                url: '/items/' + itemId + '/totalLikedItem',
                success: function (count) {
                    $('#totalLikedItem').text(count || 0);
                },
                error: function () {
                    console.error('서버 오류');
                }
            });
        }

        // 토글 버튼 클릭 시 관심 상품 등록 또는 삭제 동작
        function toggleInterest() {
            var interestButton = $('#interestButton');

            if (isOwnItem) {
                // 판매자가 자신의 상품에 대해 찜 기능을 사용할 수 없도록 막음
                console.log('자신의 상품에는 찜 기능을 사용할 수 없습니다.');
            } else {
                if (interestButton.text() === '관심 상품 등록') {
                    addInterest(); // 관심 상품 등록 기능 호출
                } else {
                    removeInterest(); // 관심 상품 삭제 기능 호출
                }
                // 찜 수 업데이트
                updateInterestCount(currentItemId);
            }
        }
    </script>

</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>상품 상세</h2>
    </div>

    <!-- 추가 -->
    <h2 th:if="${param.status}" th:text="'저장 완료'"></h2>

    <div>
        <label for="itemId">상품 ID</label>
        <input type="text" id="itemId" name="itemId" class="form-control" value="1" th:value="${item.itemId}" disabled>
    </div>
    <div>
        <label for="foundMemberName">판매자</label>
        <input type="text" id="foundMemberName" name="foundMemberName" class="form-control"
               th:value="${foundMemberName}" disabled>
    </div>
    <div>
        <label for="title">제목</label>
        <input type="text" id="title" name="title" class="form-control" value="10000" th:value="${item.title}" disabled>
    </div>
    <div>
        <block th:each="itemImage : ${itemImages}">
            <img th:if="${itemImage.fileName}" th:src="@{|/files/${itemImage.fileName}|}" width="250" height="200"/>
        </block>
        <!--        <img th:if=${image.fileNames}" th:each="image : ${image.fileNames}"  th:src="@{|/files/${image.fileNames}|}" width="400" height="400"/>-->
        <!--        <img th:each="hor : ${hora}" th:src="@{|/files/${hor}|}" width="400" height="400"/>-->
        <!--        <input type="text" id="title" name="title" class="form-control" value="10000" th:value="${item.title}" disabled>-->
    </div>
    <div>
        <label for="content">상세설명</label>
        <input type="text" id="content" name="content" class="form-control" value="상품A" th:value="${item.content}"
               disabled>
    </div>
    <div>
        <label for="price">가격</label>
        <input type="text" id="price" name="price" class="form-control" value="10" th:value="${item.price}" disabled>
    </div>

    <div>
        <div>아이템 타입</div>
        <select id="itemType" name="itemType" class="form-control" th:field="${item.itemTypeId}" disabled>
            <option th:each="type : ${itemTypes}" th:value="${type.itemTypeId}" th:text="${type.description}"
                    th:selected="${type.itemTypeId == selectedItemTypeId}"/>
        </select>
    </div>
    <div>
        <div>판매 상태</div>
        <select id="saleStatus" name="saleStatus" class="form-control" th:field="${item.saleStatus}" disabled>
            <option th:each="status : ${statuses}" th:value="${status.saleStatusId}" th:text="${status.description}"
                    th:selected="${status.saleStatusId == selectedSaleStatus}"/>
        </select>
    </div>
    <div>
        <div>조회수: <span th:text="${item.viewsCount}"></span></div>
    </div>
    <div>
        <div>찜수: <span id="totalLikedItem" th:text="${totalLikedItem} ? ${totalLikedItem} : 0"></span></div>
    </div>
    <!--  수정 이력이 있는 경우에만 수정일 출력  -->
    <div th:if="${item.updateDatetime != null}">
        <div>최종 수정 일자: <span th:text="${#dates.format(item.updateDatetime, 'yyyy-MM-dd HH:mm:ss')}"></span></div>
    </div>
    <div class="row">
        <div class="col">
        <!-- '관심 상품 등록/삭제' 버튼 -->
        <button id="interestButton" class="w-100 btn"
                th:class="${isLiked} ? 'btn-warning btn-lg' : 'btn-success btn-lg'"
                th:onclick="|toggleInterest('@{/items/addInterest}', '@{/items/removeInterest}')|">
            <span th:text="${isLiked} ? '관심 상품 삭제' : '관심 상품 등록'"></span>
        </button>
        </div>
        <div class="col">
            <a th:href="${chatUrl}" target="_blank">대화하기</a>
<!--            <button id="openChatBtn" th:attr="data-seller=${foundMemberName}">Open Chat</button>-->
<!--        <button class="w-100 btn btn btn-outline-warning btn-lg"-->
<!--                onclick="location.href='editForm.html'"-->
<!--                th:onclick="|location.href='@{/chat/roomList}'|"-->
<!--                type="button">채팅 하기-->
<!--        </button>-->
        </div>
    </div>

    <!-- 채팅 창 -->
    <div id="chatModal" style="display: none;">
        <!-- 채팅 내용 표시 영역 -->
        <ul id="chatMessages"></ul>

        <!-- 메시지 입력 폼 -->
        <form id="chatForm">
            <input type="text" id="messageInput" />
            <button type="submit">Send</button>
        </form>
    </div>

    <hr class="my-4">

    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="location.href='editForm.html'"
                    th:onclick="|location.href='@{/items/{itemId}/edit(itemId=${item.itemId})}'|"
                    type="button">상품 수정
            </button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='items.html'"
                    th:onclick="|location.href='@{/items}'|"
                    type="button">목록으로
            </button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-danger btn-lg"
                    onclick="location.href='items.html'"
                    th:onclick="|location.href='@{/items/{itemId}/delete(itemId=${item.itemId})}'|"
                    type="button">삭제
            </button>
        </div>
    </div>

</div> <!-- /container -->
</body>
<!-- WebJars jQuery -->
<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
<script src="/webjars/sockjs-client/1.1.2/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/2.3.3-1/stomp.min.js"></script>

<script th:inline="javascript">
    var stompClient = null;

        $(document).ready(function() {
            // "Open Chat" 버튼 클릭 시
            $("#openChatBtn").click(function() {
                // Thymeleaf를 통해 설정한 seller 값 가져오기
                var seller = $(this).data('seller');

                // WebSocket 연결이 없을 경우에만 연결 시도
                if (!stompClient || !stompClient.connected) {
                    connectToChat(seller);
                } else {
                    console.error("WebSocket is already connected.");
                }

                // 팝업 창 열기
                openChatPopup();
            });

            function connectToChat(seller) {
                var socket = new SockJS('/ws-chat');
                stompClient = Stomp.over(socket);

                stompClient.connect({}, function (frame) {
                    if (frame) {
                        console.log('Connected: ' + frame);

                        // 판매자 정보를 전송하여 채팅 ID 수신
                        stompClient.send("/app/chat.openChat", {}, JSON.stringify({
                            seller: seller
                        }));

                        // /user/queue/chatId 엔드포인트로 채팅 ID 수신을 구독
                        stompClient.subscribe("/user/queue/chatId", handleChatId);
                    } else {
                        console.error('Connection failed!');
                    }
                });
            }

            // 팝업 창 열기 함수
            function openChatPopup() {
                // 원하는 URL로 수정 (chatPopup.html의 경로)
                var popupUrl = '/chat/chatPopup';

                // 팝업 창 열기
                window.open(popupUrl, '_blank');
            }

            function handleChatId(chatIdMessage) {
                var chatId = chatIdMessage.body;

                // 팝업 창에서 채팅 ID로 WebSocket 연결
                if (chatId) {
                    connectToChat(chatId);
                }
            }

            function handleChatId(chatIdMessage) {
    var chatId = chatIdMessage.body;

    // 팝업 창에서 채팅 ID로 WebSocket 연결
    if (chatId) {
        connectToChat(chatId);
    }
}
        });
</script>
</html>
