<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <!-- 정렬 선택 폼 -->
    <form th:action="@{/members/myPage/{memberId}/buy(memberId=${memberId})}" method="get" class="form-inline mb-3">
        <label class="mr-2">정렬 방식:</label>
        <select class="form-control" name="sort">
            <option value="onSale" th:selected="${sort == 'onSale'}">판매중</option>
            <option value="soldOut" th:selected="${sort == 'soldOut'}">판매완료</option>
        </select>
        <button type="submit" class="btn btn-primary ml-2">정렬 적용</button>
    </form>
    <div th:if="${#lists.isEmpty(buyItems)}">
        <p><b>등록된 상품이 없습니다.</b></p>
    </div>
    <div th:if="${not #lists.isEmpty(buyItems)}">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>제목</th>
                <th>등록 일자</th>
                <th>이미지 보기</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="buyItem : ${buyItems}">
                <td>
                    <a th:href="@{/items/{itemId}(itemId=${buyItem.itemId})}" th:text="${buyItem.itemId}"></a>
                </td>
                <td>
                    <a th:href="@{/items/{itemId}(itemId=${buyItem.itemId})}" th:text="${buyItem.title}"></a>
                </td>
                <td th:text="${#dates.format(buyItem.createDatetime, 'yyyy-MM-dd HH:mm:ss')}">등록 일자</td>
                <td>
                    <block th:each="image : ${images}">
                        <!--                    <img th:if="${item.filename}" th:src="@{|/files/${item.getFilename()}|}" width="100" height="100"/>-->
                        <img th:if="${buyItem.itemId == image.itemId} and ${image.repImageCheck == true}" th:src="@{|/files/${image.fileName}|}" width="200" height="200"/>
                    </block>
                </td>
                <!--                <td>-->
                <!--                    <a href="#" th:href="@{/items/{itemId}/edit (id=${item.itemId})}" class="btn btn-primary" role="button">수정</a>-->
                <!--                </td>-->
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col">
        <button class="w-100 btn btn-secondary btn-lg"
                th:onclick="|location.href='@{/members/myPage}'|"
                type="button">MyPage
        </button>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>